*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.main_box{
    background:url("photo.jpg");
    height: 100vh;
    background-size: cover;
}

.main_box .btn_one{
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
}

.sidebar_menu{
    position: fixed;
    height: 100vh;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.sidebar_menu .logo a{
    position: relative;
    left: 50px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.sidebar_menu .btn_two{
    color: grey;
    font-size: 25px;
    line-height: 60px;
    position: absolute;
    left: 275px;
    /* opacity: 0; */
}

.sidebar_menu .menu{
    position: absolute;
    width: 100%;
    top: 80px;
}

.sidebar_menu .menu li{
    margin-top: 6px;
    padding: 14px 20px;
}

.sidebar_menu .menu i, a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.sidebar_menu .menu i{
    padding-right: 10px;
}

.sidebar_menu .social_media{
    position: absolute;
    color: white;
    opacity: 0.5;
    left: 25%;
    bottom: 20px;
}

.sidebar_menu .social_media i{
    color: white;
    opacity: 0.5;
    padding: 0 5px;
}

#check{
    display: none;
}

.sidebar_menu .menu li:hover{
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

#check:checked ~ .sidebar_menu{
    left: -300px;
    transition: all 0.3s ease;
}   

#check:checked ~ .main_box .btn_one{
    left: 16px;
    transition: all 0.3s ease;
    display: none;
}

#check:checked ~ .sidebar_menu .btn_two{
    opacity: 1;
    transition: all 0.3s ease;
}

